.Header {
    background: $primary-dark;
    padding: 20px 25px;
    position: relative;
    h1 {
        color: $primary-light;
    }
    .menu-icon {
        position: absolute;
        top: 50%;
        right: 25px;
        transform: translate(0, -50%);
        z-index: 1000
    }
}